<?xml version="1.0" ?>
<config>
	<fps>30</fps>
	<argent>300</argent>
	<vie>30</vie>
	<tauxRevente>75</tauxRevente>
	<batiments>
		<tourAttaqueBasique>
			<prix>10</prix>
			<attaque>3</attaque>
			<portee>100</portee>
			<temps>250</temps>
		</tourAttaqueBasique>
		<tourFrost>
			<prix>80</prix>
			<attaque>0</attaque>
			<portee>200</portee>
			<temps>2000</temps>
		</tourFrost>
		<tourCanon>
			<prix>50</prix>
			<attaque>10</attaque>
			<portee>300</portee>
			<temps>2000</temps>	
			<rayonExplosion>75</rayonExplosion>
		</tourCanon>
		<tourSupport>
			<prix>20</prix>
		</tourSupport>
		<mur>
			<prix>1</prix>
		</mur>
	</batiments>
	<personnages>
		<normal>
			<vie>10</vie>
			<vitesse>3</vitesse>
			<armure>2</armure>
			<gain>5</gain>
		</normal>
		<rapide>
			<vie>5</vie>
			<vitesse>10</vitesse>
			<armure>1</armure>
			<gain>5</gain>
		</rapide>
		<solide>
			<vie>30</vie>
			<vitesse>2</vitesse>
			<armure>6</armure>
			<gain>5</gain>
		</solide>
		<volant>
			<vie>10</vie>
			<vitesse>3</vitesse>
			<armure>2</armure>
			<gain>5</gain>
		</volant>
		<generateur>
			<vie>30</vie>
			<vitesse>2</vitesse>
			<armure>3</armure>
			<gain>20</gain>
		</generateur>
		<accelerant>
			<vie>20</vie>
			<vitesse>2</vitesse>
			<armure>2</armure>
			<gain>5</gain>
		</accelerant>
		<double>
			<vie>22</vie>
			<vitesse>3</vitesse>
			<armure>2</armure>
			<gain>10</gain>
		</double>
		<boss>
			<vie>300</vie>
			<vitesse>2</vitesse>
			<armure>8</armure>
			<gain>300</gain>
		</boss>
	</personnages>
	<vagues>
		<vagueNormal>
			<nombre>10</nombre>
		</vagueNormal>
		<vagueRapide>
			<nombre>10</nombre>
		</vagueRapide>
		<vagueSolide>
			<nombre>10</nombre>
		</vagueSolide>
		<vagueVolant>
			<nombre>6</nombre>
		</vagueVolant>
		<vagueGenerateur>
			<nombre>4</nombre>
		</vagueGenerateur>
		<vagueAccelerant>
			<nombre>10</nombre>
		</vagueAccelerant>
		<vagueDouble>
			<nombre>10</nombre>
		</vagueDouble>
		<vagueBoss>
			<nombre>1</nombre>
		</vagueBoss>
	</vagues>
</config>